{% extends "layout.html" %}

        {% block content %}
        <div class="">
    <div class="page-title">
        <div class="title_left">
            <h3> Meters</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>List of Meters</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <table class="table-striped">
                        <thead>
                            <tr>
                                <th class=" col-lg-2 col-md-2 col-sm-2">Meter ID</th>
                                <th class=" col-lg-2 col-md-2  col-sm-2 ">Customer Name</th>
                                <th class=" col-lg-3 col-md-3  col-sm-3">Transformer on</th>
                                <th class=" col-lg-2 col-md-2  col-sm-2">Transformer Cat.</th>
                                <th class=" col-lg-3 col-md-3  col-sm-3">Energy Demand(KV)</th>
                                <th class=" col-lg-3 col-md-3  col-sm-2">Action</th>

                            </tr>
                        </thead><br>
                        <tbody>
                            <tr>
                                <td class="col-lg-2 col-md-2 col-sm-2">4443</td>
                                <td class="col-lg-2 col-md-2 col-sm-2">Ajiteru Peter</td>
                                <td class="col-lg-3 col-md-3 col-sm-3">Ondo Road</td>
                                <td class="col-lg-2 col-md-2 col-sm-2">R3</td>
                                <td class="col-lg-3 col-md-3 col-sm-3">300</td>
                                <td class="btn btn-sm btn-info">Delete </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2 col-md-2 col-sm-2">4443</td>
                                <td class="col-lg-2 col-md-2 col-sm-2">Ajiteru Peter</td>
                                <td class="col-lg-3 col-md-3 col-sm-3">Ondo Road</td>
                                <td class="col-lg-2 col-md-2 col-sm-2">R3</td>
                                <td class="col-lg-3 col-md-3 col-sm-3">300</td>
                                <td class="btn btn-sm btn-info">Delete </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        {% endblock%}